<launch>
  <arg name="plane" default="9"/>

  <!-- <include file="$(find ic120_handler)/launch/ic120_handler.launch"/> -->

  <group ns="ic120">
    <arg name="model" default="$(find ic120_model)/urdf/ic120.xacro"/>
    <param name="/ic120/robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <!-- <param name="tf_prefix" value="ic120"/> -->

    <group ns="PoSLV">
      <node pkg="gnss_localizer" type="fix_imu2tfpose" name="fix_imu2tfpose" output="log">
        <param name="plane" value="$(arg plane)"/>
        <param name="tf_prefix" value="ic120"/>
      </node>
    </group>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="ic120"/>
      <remap from="robot_description" to="/ic120/robot_description" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="vessel_static_tf" args="-1.23 0 2 0 0 0 /ic120/base_link /ic120/vessel_link 30"/>
    <node pkg="tf" type="static_transform_publisher" name="gps_static_tf" args="0 0 0 0 0 0 /ic120/gps_compass /ic120/base_link 30"/>
  </group>
</launch>
